BrokerServices/src/man/connect/proxy/ConnectTSessionBeanService.wsdl

<wsdl:definitions
     name="ConnectTSessionBeanService"
     targetNamespace="http://session.connect.man/"
     xmlns:tns="http://session.connect.man/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xs:schema version="1.0" targetNamespace="http://session.connect.man/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="connectT">
                <xs:sequence>
                    <xs:element name="brokerid" type="xs:string" minOccurs="0"/>
                    <xs:element name="lastConnect" type="xs:dateTime" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://session.connect.man/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://session.connect.man/"
             xmlns:ns1="http://session.connect.man/types">
            <import namespace="http://session.connect.man/types"/>
            <xsd:complexType name="mergeConnectT">
                <xsd:sequence>
                    <xsd:element name="arg0" type="ns1:connectT"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mergeConnectT" type="tns:mergeConnectT"/>
            <xsd:complexType name="mergeConnectTResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="ns1:connectT"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="mergeConnectTResponse" type="tns:mergeConnectTResponse"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="mergeConnectTInput">
        <wsdl:part name="parameters" element="tns:mergeConnectT"/>
    </wsdl:message>
    <wsdl:message name="mergeConnectTOutput">
        <wsdl:part name="parameters" element="tns:mergeConnectTResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConnectTSessionBeanService">
        <wsdl:operation name="mergeConnectT">
            <wsdl:input message="tns:mergeConnectTInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:mergeConnectTOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConnectTSessionBeanServiceSoapHttp" type="tns:ConnectTSessionBeanService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="mergeConnectT">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConnectTSessionBeanService">
        <wsdl:port name="ConnectTSessionBeanServicePort" binding="tns:ConnectTSessionBeanServiceSoapHttp">
            <soap:address location="http://10.204.6.247:8100/ConnectTSessionBean/ConnectTSessionBeanService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
