BrokerServices/classes/man/iab/proxy/BejacnSessionBeanService.wsdl

<wsdl:definitions
     name="BejacnSessionBeanService"
     targetNamespace="http://session.iab.man/"
     xmlns:tns="http://session.iab.man/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xs:schema version="1.0" targetNamespace="http://session.iab.man/types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="bejacn">
                <xs:sequence>
                    <xs:element name="acctno" type="xs:long" minOccurs="0"/>
                    <xs:element name="actype" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejfl1" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejfl2" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejsc1" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejsc2" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejsc3" type="xs:string" minOccurs="0"/>
                    <xs:element name="bejsc4" type="xs:string" minOccurs="0"/>
                    <xs:element name="bjcbal" type="xs:double" minOccurs="0"/>
                    <xs:element name="bjcrt8" type="xs:long" minOccurs="0"/>
                    <xs:element name="bjseqn" type="xs:long" minOccurs="0"/>
                    <xs:element name="bjstat" type="xs:string" minOccurs="0"/>
                    <xs:element name="bjvald" type="xs:long" minOccurs="0"/>
                    <xs:element name="bjvdt8" type="xs:long" minOccurs="0"/>
                    <xs:element name="bjvtme" type="xs:long" minOccurs="0"/>
                    <xs:element name="bjvusr" type="xs:string" minOccurs="0"/>
                    <xs:element name="flag" type="xs:string" minOccurs="0"/>
                    <xs:element name="ivstid" type="xs:string" minOccurs="0"/>
                    <xs:element name="ivstnm" type="xs:string" minOccurs="0"/>
                    <xs:element name="partid" type="xs:string" minOccurs="0"/>
                    <xs:element name="partnm" type="xs:string" minOccurs="0"/>
                    <xs:element name="subacn" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://session.iab.man/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://session.iab.man/"
             xmlns:ns1="http://session.iab.man/types">
            <import namespace="http://session.iab.man/types"/>
            <xsd:complexType name="getBejacnFindByLimit">
                <xsd:sequence>
                    <xsd:element name="partid" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getBejacnFindByLimit" type="tns:getBejacnFindByLimit"/>
            <xsd:complexType name="getBejacnFindByLimitResponse">
                <xsd:sequence>
                    <xsd:element name="return" minOccurs="0" maxOccurs="unbounded" type="ns1:bejacn"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getBejacnFindByLimitResponse" type="tns:getBejacnFindByLimitResponse"/>
            <xsd:complexType name="updateBejacnSetFlag">
                <xsd:sequence>
                    <xsd:element name="partid" type="xsd:string"/>
                    <xsd:element name="acctno" type="xsd:long"/>
                    <xsd:element name="bjvald" type="xsd:long"/>
                    <xsd:element name="bjvtme" type="xsd:long"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="updateBejacnSetFlag" type="tns:updateBejacnSetFlag"/>
            <xsd:complexType name="updateBejacnSetFlagResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="updateBejacnSetFlagResponse" type="tns:updateBejacnSetFlagResponse"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="getBejacnFindByLimitInput">
        <wsdl:part name="parameters" element="tns:getBejacnFindByLimit"/>
    </wsdl:message>
    <wsdl:message name="getBejacnFindByLimitOutput">
        <wsdl:part name="parameters" element="tns:getBejacnFindByLimitResponse"/>
    </wsdl:message>
    <wsdl:message name="updateBejacnSetFlagInput">
        <wsdl:part name="parameters" element="tns:updateBejacnSetFlag"/>
    </wsdl:message>
    <wsdl:message name="updateBejacnSetFlagOutput">
        <wsdl:part name="parameters" element="tns:updateBejacnSetFlagResponse"/>
    </wsdl:message>
    <wsdl:portType name="BejacnSessionBeanService">
        <wsdl:operation name="getBejacnFindByLimit">
            <wsdl:input message="tns:getBejacnFindByLimitInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:getBejacnFindByLimitOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
        <wsdl:operation name="updateBejacnSetFlag">
            <wsdl:input message="tns:updateBejacnSetFlagInput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
            <wsdl:output message="tns:updateBejacnSetFlagOutput" xmlns:ns1="http://www.w3.org/2006/05/addressing/wsdl"
                 ns1:Action=""/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BejacnSessionBeanServiceSoapHttp" type="tns:BejacnSessionBeanService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getBejacnFindByLimit">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateBejacnSetFlag">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BejacnSessionBeanService">
        <wsdl:port name="BejacnSessionBeanServicePort" binding="tns:BejacnSessionBeanServiceSoapHttp">
            <soap:address location="http://10.204.6.247:8100/BejacnSessionBean/BejacnSessionBeanService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
